doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cadastro de Veiculos
    body 
        h1 Alteração de Veiculos 
        br
        h3  
            a(href='/veiculos') Listagem de Veiculos
        br
        center
            div(border=10)
                form(action ='/veiculos/alterar'+index.id, method="put")
                    label Marca do Veiculo:  
                        input(name = 'marca', requerid, type='text', value = index.marca)
                    br
                    br
                    label Modelo do Veiculo:  
                        input(name = 'modelo', requerid, type='text' value = index.modelo)
                    br
                    br
                    label Valor do Veiculo:  
                        input(name = 'valor', requerid, type='decimal' value = index.valor)
                    br
                    br
                    button(type="submit") Alterar 
                button 
                    a(href='/veiculos') Voltar